  @mixin constraint {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#content {
    padding: 0 $spacing-l $spacing-l;
}

table {
    margin: $spacing-l 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: $spacing-s $spacing-m;
    padding-bottom: $spacing-s - 1px;
    border-bottom: 1px solid $gray;
}

/* @group ----- Header ----- */

header {
    display: flex;
    padding: $spacing-s $spacing-l;
}

.site-title h1 {
    margin: $spacing-m $spacing-m 0 0;
}

#search {
    margin-left: auto;
}

#search-form {
    margin: $spacing-s 0;
}

#search-form:not(.open) input[type="text"] {
    border: 0;
    border-bottom: 1px solid $brown;  
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding: 0 (2 * $spacing-s) $spacing-l;
}

/* @end */

/* @group ----- Navigation ----- */

header nav {
    margin: $spacing-m 0 0;
    position: static;
}

header nav ul a {
    padding: 0;
}

header nav ul li {
    position: static;
}

header nav.closed ul,
header nav ul ul li {
    height: auto;
    overflow: visible;
}

header nav ul a:hover {
    background-color: transparent;
}

header nav ul li,
header nav > ul li:last-child,
header nav > ul ul:hover > li {
    border: 0;
}

header nav ul.navigation {
    margin: 0;
    position: static;
    columns: auto;

    & > li {
        display: inline-block;
    }

    & > li:not(:last-child) {
        margin-right: $spacing-m;
    }
}

header nav > ul > li > a {
    margin: $spacing-s;
    height: $base-line-height;
}

/* @end */

/* @group ----- Resource List ----- */

/* ul.resource-list .resource img {
    width: 4 * $spacing-l;
    height: auto;
    float: right;
    margin-left: $spacing-m;
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{4.5 * $spacing-l});
} */

ul.resource-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

ul.resource-list li {
    width: 20%;
    padding: 0 $spacing-l 0 0;

    &:nth-child(5n) {
        padding: 0;
    }
}

/* @end */

/* @group ----- Item ----- */

.property {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto $spacing-l 0;
    width: 100%;
}

.property h4 {
    width: 50%;
    padding-right: $spacing-m;
    margin: 0;
    min-width: 5 * $spacing-l;
}

.property .values {
    width: 50%;
    padding-left: $spacing-m;
    max-width: calc(100% - #{5 * $spacing-l});
}

.media-embeds {
    width: 20%;
    float: left;
    padding: $spacing-l $spacing-l $spacing-l 0;

    &.audio {
        float: none;
        padding: 0;
        @include constraint;
    }
}

.item-head,
.item-description {
    @include constraint;
}

.person.show .item-metadata {
    display: none;
}

.item-metadata {
    @include constraint;
}

/* .item-metadata {
    float: right;
    width: 20%;
    padding-left: $spacing-m;
    border-left: 5px solid #eee;
}

.item-metadata .property {
    margin-bottom: $spacing-m;
}

.item-metadata .property .values {
    max-width: none;
    width: 100%;
    padding: 0;
}

.item-metadata h4 {
    font-size: .75 * $base-font-size;
    min-width: 0;
    width: 100%;
    padding: 0;
}

.item-metadata .property .resource-link {
    align-items: center;
}

.item-metadata .property .resource-link img {
    margin: 0 $spacing-m 0 0;
} */

#item-linked {
    // clear: both;
    border-top: 1px solid $gray;
    margin-top: $spacing-l;
    padding: $spacing-l 0;
    @include constraint;
}

#linked-resources {
    display: flex;
    flex-wrap: wrap;
}

.linked-header {
    width: 100%;
}

#linked-filter {
    display: flex;
    margin: 0 0 $spacing-l;
}

#linked-filter h4 {
    margin: 0;
    font-weight: normal;
    font-size: .75 * $base-font-size;
    padding: $spacing-s $spacing-m $spacing-s 0;
}

.linked-resource {
    width: 25%;
    margin: 0 $spacing-l $spacing-l 0;
}

/* @end */

/* @group ----- Item Set ----- */

body.item-set #content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;

    & > h2,
    & > h3 {
        width: 100%;
    }
}

body.item-set .metadata {
    width: span(4 of 12 alpha);
    border-left: 5px solid $light;
    padding-left: $spacing-s;
    margin-right: $spacing-s;
}

body.item-set .metadata h4:first-of-type {
    margin-top: 0;
}

body.item-set #content .metadata ~ * {
    width: span(8 of 12 omega);
    border-left: 1px solid $light;
    padding-left: $spacing-s;
}

body.item-set .item-set-items h3 {
    margin-top: 0;
}

body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
}


/* @end */

/* @group ----- Page and blocks ----- */

.blocks > h1,
.blocks > h2,
.blocks > h3,
.blocks > h4,
.blocks > p,
.blocks > ul {
    @include constraint;
}

.preview-block {
    clear: both;
}

.break {
    width: 100%;
}

.file {
    width: calc(20% - #{$spacing-l});
}

.left.file {
    float: left;
    margin-right: $spacing-l;
}

.right.file {
    float: right;
    margin-left: $spacing-l;
}

.item-showcase {
    width: 100%;
}

.item-showcase img {
    max-width: 100%;
    height: auto;
}

.item-showcase .item-resource {
    margin: $spacing-l auto;
}

/* @end */

/* @group ----- Home ----- */

.home.page .blocks {
    padding: $spacing-l 0;
}

.home.page .blocks > div:first-child {
    width: calc(75% - #{$spacing-m});
    float: left;
    position: relative;

    .attachments {
        display: flex;
        flex-wrap: wrap;
    }
}

.home.page .blocks > div:first-child .item.resource {
    display: flex;
    background: #fff;
    padding: 0;
    width: calc(50% - #{$spacing-m});
    overflow: hidden;
    margin-bottom: $spacing-l;

    &:nth-child(2n) {
        margin-left: $spacing-l;
    }
}

.home.page .blocks > div:first-child .item.resource .caption {
    padding: $spacing-m $spacing-l;
}

.home.page .blocks > div:first-child .item.resource h3 {
    margin: 0;
}

.home.page .blocks > div:first-child .item.resource h3 + p {
    margin: 0;
}

.home.page .blocks > div:first-child .item.resource img {
    vertical-align: bottom;
    height: 5 * $spacing-l;
    width: 5 * $spacing-l;
    max-width: none;
}

.home.page .blocks > .intro {
    width: calc(25% - #{$spacing-m});
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    margin-bottom: $spacing-l;
    float: right;
    height: 11 * $spacing-l;
}

.home.page .blocks > .intro strong {
    font-family: $heading-font-family;
}

.home.page .playlist {
    width: 100%;
    clear: both;
    font-family: $heading-font-family;
    text-align: center;
    background-color: #fff;
    padding: $spacing-l;
}

.home.page .blocks > div:nth-child(4) {
    width: 100%;
    margin: $spacing-l 0;
    clear: both;

    .attachments {
        display: flex;
        justify-content: space-between;
    }
}

.home.page .left.file:nth-child(4) .attachments .resource {
    width: calc(33.33% - #{$spacing-l});
    border: 1px solid #eee;
    background-color: #fff;

    &:last-child {
        border-right-width: 1px;
    }

    .caption {
        padding: 0 $spacing-l;
    }

    .caption p {
        margin-top: 0;
    }

    img {
        vertical-align: bottom;
    }

    .media-render {
        position: relative;
    }

    .media-render:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: transparentize($pink, .8);
    }

    &:nth-child(2) .media-render:before {
        background-color: transparentize($blue, .8);
    }

    &:nth-child(3) .media-render:before {
        background-color: transparentize($green, .8);
    }
}

.home.page .left.file:nth-child(4) h3 {
    margin-top: $spacing-l;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: 0;
}

.home.page .left.file:nth-child(4) h3 a {
    text-align: left;
    padding: 0 $spacing-l;
}

/* @end */