@mixin constraint {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 0 $spacing-l $spacing-l;
}

table {
    margin: $spacing-l 0;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: $spacing-s $spacing-m;
    padding-bottom: $spacing-s - 1px;
    border-bottom: 1px solid $gray;
}

/* @group ----- Header ----- */

header {
    display: flex;
    padding: $spacing-s $spacing-l;
}

#search {
    margin-left: auto;
}

#search-form {
    margin: $spacing-s 0;
}

#search-form:not(.open) input[type="text"] {
    display: none;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    padding: 0 (2 * gutter()) $spacing-l;
}

/* @end */

/* @group ----- Navigation ----- */

header nav {
    margin: $spacing-m 0 0;
    position: static;
}

header nav:before {
    content: "";
    border: 0;
    display: none;
}

header nav ul a {
    padding: 0;
}

header nav ul li {
    position: static;
}

header nav.closed ul,
header nav ul ul li {
    height: auto;
    overflow: visible;
}

header nav ul a:hover {
    background-color: transparent;
}

header nav ul li,
header nav > ul li:last-child,
header nav > ul ul:hover > li {
    border: 0;
}

header nav ul.navigation {
    margin: 0;
    position: static;

    li ul:before {
        display: none;
    }

    & > li {
        display: inline-block;
    }

    & > li:not(:last-child) {
        margin-right: $spacing-m;
    }

    & > li > ul {
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: #fff;
        padding: 0;
        list-style: none;
        width: 100%;
        border: solid $gray;
        border-width: 1px 0;
        padding: ($spacing-m - 1px) 0 ($spacing-s - 1px);
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        z-index: 1;
    }

    & > li:hover > ul {
        @include container;
        padding: $spacing-m (2 * gutter());
        left: 0;
        right: 0;
        border-bottom: 0;
        border-color: $light;

        &:after {
            content: "";
            left: -9999px;
            right: -9999px;
            background-color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            border-bottom: 1px solid $light;
            z-index: -1;
        }
    }

    & > li > ul > li {
        width: 25%;
        font-size: .75 * $base-font-size;
        font-weight: bold;
        padding-bottom: $spacing-l;
    }

    & > li > ul > li ul {
        font-weight: normal;
        padding: 0;
        list-style-type: none;
        height: auto;
    }
}

header nav > ul > li > a {
    margin: $spacing-s;
    height: $base-line-height;
}

/* All top-level nav items with siblings are parent items and get an arrow. */
header nav > ul > li > a:not(:only-child):after {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    margin-left: $spacing-s;
}

header nav > ul li:hover ul li {
    height: auto;
    padding: 0;
}

/* Second and Third level items */
header nav > ul > li > ul > li a,
header nav > ul > li > ul > li > ul > li a {
    padding-left: 0;
}

.sub-menu ul {
    border-bottom: 1px solid $light;
    padding-bottom: ($spacing-m - 1px);
}

.sub-menu li {
    display: inline-block;
    border: 0;
    padding: 0;
    margin-right: $spacing-m;

    &:first-of-type {
        border: 0;
        padding: 0;
    }
}

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list .resource img {
    width: 4 * $spacing-l;
    height: auto;
    float: right;
    margin-left: $spacing-m;
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{4.5 * $spacing-l});
}

/* @end */

/* @group ----- Item ----- */

.property {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto $spacing-l 0;
    width: 70%;
}

.property h4 {
    width: 30%;
    padding-right: $spacing-m;
    margin: 0;
    text-align: right;
}

.property .values {
    width: 70%;
    padding-left: $spacing-m;
}

.media-embeds {
    width: 30%;
    float: right;
    padding: 0 0 (2 * $spacing-l) $spacing-l;

    &.audio {
        width: 100%;
        float: none;
        padding: 0;
    }
}

#item-linked {
    clear: both;
    border-top: 1px solid $gray;
    margin-top: $spacing-l;
    padding: $spacing-l 0;
}

#linked-resources {
    display: flex;
    flex-wrap: wrap;
}

.linked-header {
    width: 100%;
}

#linked-filter {
    display: flex;
    margin: 0 0 $spacing-l;
}

#linked-filter h4 {
    margin: 0;
    font-weight: normal;
    font-size: .75 * $base-font-size;
    padding: $spacing-s $spacing-m $spacing-s 0;
}

.linked-resource {
    width: 25%;
    margin: 0 $spacing-l $spacing-l 0;
}

.linked-resource span {
    width: 100%;
    display: block;
}

.linked-resource .resource-link {
    font-weight: bold;
}

.property-relation {
    font-size: .75 * $base-font-size;
}

/* @end */

/* @group ----- Item Set ----- */

body.item-set #content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;

    & > h2,
    & > h3 {
        width: 100%;
    }
}

body.item-set .metadata {
    width: span(4 of 12 alpha);
    border-left: 5px solid $light;
    padding-left: gutter();
    margin-right: gutter();
}

body.item-set .metadata h4:first-of-type {
    margin-top: 0;
}

body.item-set #content .metadata ~ * {
    width: span(8 of 12 omega);
    border-left: 1px solid $light;
    padding-left: gutter();
}

body.item-set .item-set-items h3 {
    margin-top: 0;
}

body.item-set .metadata ~ nav.pagination:first-of-type {
    margin-bottom: 0;
}


/* @end */

/* @group ----- Page and blocks ----- */

.blocks > h1,
.blocks > h2,
.blocks > h3,
.blocks > h4,
.blocks > p,
.blocks > ul {
    @include constraint;
    width: 60%;

}

.preview-block {
    clear: both;
}

.break {
    width: 100%;
}

ul.preview.resource-list li:first-of-type {
    border-top: 1px solid $light;
    padding-top: ($spacing-l - 1px);
}

.file {
    width: calc(20% - #{$spacing-l});
}

.left.file {
    float: left;
    margin-right: $spacing-l;
}

.right.file {
    float: right;
    margin-left: $spacing-l;
}

.item-showcase {
    width: 100%;
}

.item-showcase img {
    max-width: 100%;
    height: auto;
}

.item-showcase .item-resource {
    margin: $spacing-l auto;
}

/* @end */