.blocks,
footer {
    max-width: 2100px;
    margin: auto;
}

.media-embeds {
    width: calc((100% - 700px)/2);
    justify-content: flex-end;
    
    .media-render:not(:only-child) {
        max-width: none;
    }  
}

.spins.page .blocks p,
.spins.page .blocks .toc-block li {
    width: calc(25% - #{$spacing-l});
    padding: 0 0 calc(25% - #{$spacing-l});
}

.genres.page .file {
    width: 20%;
    margin: 0 0 $spacing-l;
}

.genres.page .genre {
    width: 80%;
    float: left;  
}

