* {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    word-wrap: break-word;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

a:active,
a:hover {
    color: $bold;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size: 1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
}

img {
    max-width: 100%;
    height: auto;
}

#content {
    padding: $spacing-l;
    overflow-x: hidden;
}

/* @group ----- Forms ----- */

input,
textarea,
button,
.button,
select {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
    appearance: none;
    border-radius: 0;
    height: 1.5 * $spacing-l;
    border: 1px solid $light;
    padding: ($spacing-s - 1px) gutter();
    margin: 0;
}

textarea {
    height: 3 * $spacing-l;
}

input[type="file"] {
    line-height: 1;
    vertical-align: bottom;
    font-size: .75 * $base-font-size;
}

button,
a.button,
[type="submit"] {
    background-color: $light;
    border-radius: 2px;
    padding: $spacing-s;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    cursor: pointer;
}

select {
    background-color: #fff;
    padding: .5 * $spacing-s;
    border-color: $light;
    height: 1.5 * $spacing-l;
    border: 1px solid $gray;
    font-size: .75 * $base-font-size;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

.field {
    margin: $spacing-l 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field .field-meta {
    width: 30%;
    padding: $spacing-s gutter() 0 0;
}

.field .inputs {
    width: 70%;
    padding-left: gutter();

    & > select,
    & > textarea,
    & > input[type="text"],
    & > input[type="password"],
    & > input[type="email"],
    & > input[type="url"] {
        width: 100%;
    }

    input[type="checkbox"] {
        vertical-align: bottom;
    }
}

.field.required .field-meta:after {
    content: "\f069";
    font-family: "FontAwesome";
    font-size: .75 * $base-font-size;
}

.field .value:not(:last-child) {
    margin-bottom: $spacing-m;
}

.field-description {
    font-size: .75 * $base-font-size;
}

/* @end */

/* @group ----- Header ----- */

header {
    background-color: #000;
    color: #fff;
    font-size: .75 * $base-font-size;
    padding: $spacing-l;
}

header a {
    color: #fff !important;
}

a.site-title {
    display: block;
}

.site-title h1 {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0 0 $spacing-m;
    text-align: center;
}

#search-form {
    display: flex;
    margin: $spacing-m 0;
}

#search-form input[type="text"] {
    width: 100%;
}

#search-form button[type="submit"] {
    height: 1.5 * $base-line-height;
    width: 1.5 * $base-line-height;
    text-indent: -9999px;
    position: relative;
    background-color: transparent;
    color: #fff;

    &:before {
        content: "\f002";
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        text-indent: 0;
        line-height: 1.5 * $base-line-height;
    }
}

header nav ul.navigation {
    list-style: none;
    padding-left: 0;
    columns: 2;
    text-align: center;
}

header nav ul.navigation > li > ul {
    display: none;
}


/* @end */

/* @group ----- Item/Show ----- */

.item-head {
    margin-bottom: $spacing-l;
}

.item-head h2 {
    margin-bottom: 0;
}

.recording .role {
    display: none;
}

.property .resource-link {
    display: flex;
}

.property .resource-link img {
    height: 1.5 * $spacing-l;
    width: auto;
    margin: (-1 * $spacing-s) $spacing-m 0 0;
}

.linked-resource h4 {
    margin-bottom: $spacing-s;
    text-transform: uppercase;
    font-size: .875 * $base-font-size;
}

.linked-resource span {
    width: 100%;
    display: block;
}

.linked-resource .resource-link {
    font-weight: bold;
}

.property-relation {
    font-size: .75 * $base-font-size;
}

.property[data-term="dcterms:title"],
.property[data-term="dcterms:description"] {
    display: none;
}

/* @end */

/* @group ----- Item/Browse ----- */

ul.resource-list .genres {
    padding-left: 0;
    list-style: none;
    margin: (-$spacing-s) 0 0;
}

ul.resource-list .genres li {
    width: auto;
    font-size: .625 * $base-font-size;
    line-height: .5 * $base-line-height;
    display: inline-block;
    padding: 0;
    text-transform: uppercase;

    &:not(:last-child):after {
        content: " // ";
        color: #000;
        display: inline-block;
        margin: 0 (.5 * $spacing-s) 0 $spacing-s;
    }
}

/* @end */

/* @group ----- Pages ----- */

.sub-menu {
    display: none;
}

.blocks {
    padding: 0 $spacing-l;
}

.blocks > h2:first-child,
.blocks > h2:first-child + h2 {
    position: relative;
    padding: $spacing-l 0;
    margin: 0;
}

.blocks > h2:first-child:after,
.blocks > h2:first-child + h2:after {
    content: "";
    position: absolute;
    top: -($spacing-l);
    left: -9999px;
    right: -9999px;
    background-color: #ccc;
    bottom: 0;
    z-index: -1;
}

.blocks > h2:first-child + h2 {
    border-top: 1px solid #999;
    margin-bottom: 2 * $spacing-l;
}

.breadcrumbs {
    display: none;
}

.file a,
.item-showcase a {
    display: block;
    width: 100%;
    text-align: center;
}

.item-showcase h3,
.file h3 {
    margin-top: 0;
    font-size: .75 * $base-font-size;
    line-height: $base-line-height;
}

ul.resource-list {
    list-style-type: none;
    padding-left: 0;
    margin: $spacing-l 0;
}

ul.resource-list h4 {
    margin: $spacing-s 0 0;
    font-size: .75 * $base-font-size;
}

ul.resource-list span {
    display: block;
}

ul.resource-list li {
    margin-bottom: $spacing-l;
}

.site-page-pagination {
    display: none;
}

/* @end */